<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
        Id="*"
        UpgradeCode="01B4D4CA-8DFF-4708-A86E-00E78B64BCC6"
        Version="$(var.MajorVersion).$(var.MinorVersion).$(var.PatchVersion)"
        Language="2052"
        Name="$(var.ApplicationName)"
        Manufacturer="$(var.Manufacturer)">

        <Package InstallerVersion="300" Compressed="yes" InstallScope="perUser" />
        <Media Id="1" Cabinet="Data.cab" EmbedCab="yes" />

        <MajorUpgrade
            DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="LocalAppDataFolder">
                <Directory Id="AppsFolder" Name="Programs">
                    <Directory Id="APPLICATIONROOTDIRECTORY" Name="$(var.ApplicationName)" />
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="$(var.ApplicationName)" />
            </Directory>
        </Directory>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut"
                    Name="$(var.ApplicationName)"
                    Description="My Application Description"
                    Target="[APPLICATIONROOTDIRECTORY]$(var.StartupProgramName).exe"
                    WorkingDirectory="APPLICATIONROOTDIRECTORY" />
                <!-- Step 1: Add the uninstall shortcut to your installer package -->
                <Shortcut Id="UninstallProduct"
                    Name="Uninstall $(var.ApplicationName)"
                    Description="Uninstalls My Application"
                    Target="[System64Folder]msiexec.exe"
                    Arguments="/x [ProductCode]" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\MyCompany\$(var.ApplicationName)"
                    Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <Feature Id="MainApplication" Title="Main Application" Level="1">
            <ComponentGroupRef Id="Package" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>

        <WixVariable Id="WixUILicenseRtf" Value=".\UIResource\License.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value=".\UIResource\Banner.jpg" />
        <WixVariable Id="WixUIDialogBmp" Value=".\UIResource\Dialog.jpg" />

        <!-- 选择安装目录 -->
        <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="感谢安装本产品。" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="立即运行" />
        <UI>
            <UIRef Id="WixUI_InstallDir" />
            <Publish Dialog="ExitDialog"
                Control="Finish"
                Event="DoAction"
                Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>

        <Property Id="WixShellExecTarget"
            Value="[APPLICATIONROOTDIRECTORY]$(var.StartupProgramName).exe" />
        <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec"
            Impersonate="yes" />

        <!-- 安装程序图标 -->
        <Icon Id="icon.ico" SourceFile=".\UIResource\product.ico" />
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    </Product>
</Wix>